@model MVCLabb.Models.DetailsPhotoViewModel




<div class="row" style="padding: 20px;">
    <div class="col-sm-12 col-md-6">
        <img src="@Model.Path" class="img-thumbnail" style="max-width: 100%;" />
    </div>
    <div class="col-sm-12 col-md-6">
        <i>@Html.DisplayFor(model => model.Date)</i>
        <h2>@Html.DisplayFor(model => model.Name)</h2>
        <p>@Html.DisplayFor(model => model.Description)</p>
        <i>Uploaded by: @Model.UploaderName | From album: @Model.Album</i>
        <hr />
        
        <h2>Comments</h2>
            @if (User.Identity.IsAuthenticated)
            {

            using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <textarea name="comment" class="form-control" style="width: 100%;" rows="5" required></textarea>
                <input type="submit" value="Submit" class="btn btn-default" />
            }

            
            }
        <hr />
            @if (Model.Comments.Count() < 1)
            {
                <h4>No comments</h4>
            }
            else
            {
                foreach (var comment in Model.Comments)
                {
                    <h4>@comment.name</h4>
                    <p>@comment.comment</p>
                    <i><a href="mailto:@comment.email">@comment.email</a> | @comment.date</i>
                    
                    <hr />

                }
            }
        
    </div>
</div>



<p>
    @Html.ActionLink("Back to Gallery", "Index")
</p>
