@model IEnumerable<MVCLabb.Areas.User.Models.IndexPhotoViewModels>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Photos</h2>

<p>
    @Html.ActionLink("Add New Photo", "Create") |
    @Html.ActionLink("Manage Albums", "Index", "Album")
</p>
<div id="content">

    <table class="table">
        <tr>
            <th>
                Image
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Path)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Album)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comments)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img src="@item.Path" alt="@item.Name" style="max-width: 100px;" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Path)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Album)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Comments)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", null, new { id = item.Id, @class = "delete" })
                </td>
            </tr>
        }

    </table>

</div>

@section Scripts {
    <script>

        function SetDelete() { 

        $('.delete').each(function () {

            $(this).click(function (e) {
                e.preventDefault();

                var model = {
                    Id: ""
                };

                model.Id = this.id;

                swal({
                    title: "Are you sure?",
                    text: "Your will not be able to recover this imaginary file!",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonClass: "btn-danger",
                    confirmButtonText: "Yes, delete it!",
                    closeOnConfirm: false
                }, function () {

                    $.ajax({
                        type: "POST",
                        url: "/User/Photo/Delete",
                        data: JSON.stringify(model),
                        success: function (data) {
                            swal("Image is deleted", "success")
                            $('#content').html(data);
                            SetDelete();
                            
                        },
                        error: function (e) {
                            swal("Error!", "Something went wrong!", "error")
                        },
                        contentType: "application/json; charset=utf-8",
                        dataType: "text"
                    });

                });

            });
        
        });
        };

        SetDelete();
       
    </script>
}